.idea/*
IntroToSQL/.idea/*
IntroToSQL/venv/*
Stepik/.idea/*
Stepik/__pycache__/*
Cursera/.idea/*
Cursera/WEB-dev_backdend/parser/wiki/*
Cursera/__pycache__/*
Cursera/WEB-dev_backdend/mysql_sample/__pycache__/*
Cursera/WEB-dev_backdend/converter_sample/__pycache__/*
Cursera/WEB-dev_backdend/regexp_sample/__pycache__/*
Cursera/WEB-dev_backdend/base_django_framework/.idea/*
Cursera/WEB-dev_backdend/base_django_framework/.git/*
Cursera/WEB-dev_backdend/base_django_framework/venv/*
Cursera/routing/venv/*
Cursera/routing/.idea/*
Cursera/routing/routing/__pycache__/*
Cursera/WEB-dev_backdend/work_with_data/*