/* на sm */
@media (min-width: 200px) {
    body {
        font-size: 30px;
    }

    #main_img {
        width: 0px;
    }

    #sub_img {
        width: 0px;
    }
}


@media (min-width: 768px) {
    body {
        font-size: 30px;
    }

    #main_img {
        width: 90px;
    }

    #sub_img {
        width: 60px;
    }
}
/* на md */
@media (min-width: 992px) {
    body {
        font-size: 20px;
    }

    #main_img {
        width: 150px;
    }

    #sub_img {
        width: 70px;
    }
}
/* на lg */
@media (min-width: 1200px) {
    body {
        font-size: 14px;
    }

    #main_img {
        width: 150px;
    }

    #sub_img {
        width: 100px;
    }
}

ul {
    display: block;
    list-style-type: none;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: inherit;
}

._tags {
    align-content: inherit;
    /*margin-left: 50%;*/
}


/* Like buttom */
.qty .count {
    color: grey;
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    min-width: 20px;
    text-align: center;
}
.qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: honeydew;
    width: 20px;
    height: 20px;
    font: 20px/1 Arial, sans-serif;
    text-align: center;
    border-radius: 50%;
}
.qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: honeydew;
    width: 20px;
    height: 20px;
    font: 20px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
}
div {
    text-align: center;
}
.minus:hover{
    background-color: #717fe0 !important;
}
.plus:hover{
    background-color: #717fe0 !important;
}
/*Prevent text selection*/
span{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
input{
    border: 0;
    width: 2%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:disabled{
    background-color:white;
}